.ed-grid{    background-color: rgb(246, 255, 127);
}
.logo{
    background-color: rgb(192, 26, 137);
}
.logo2{
    background-color:rgb(209, 93, 47) ;
}
.footer{
    background-color: rgb(142, 168, 224);
}
.card{
    background-color: rgb(241, 71, 9);
}
.slide{
    background-color: blue;
}
